doctype html
html
  head
    title Page d'accueil
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  body
    .container.text-center.mt-5
      h1 Bienvenue sur le Morpion en ligne !
      p.lead Créez un compte ou connectez-vous pour jouer
      a.btn.btn-primary.btn-lg(href='/register') Créer un compte
      a.btn.btn-secondary.btn-lg.ml-2(href='/login') Se connecter
      a.btn.btn-primary.btn-lg.ml-2(href='/scores') Voir les résultats
